  * {
    box-sizing: border-box;
  }
  
  body {
  padding: 0; 
  margin: 0; 
  font-size: 1rem;
  font-family: 'Source-sans' sans-serif;
  text-align: center;
  color: #404040;
}

/* Typography */

 h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
} 

h1 + p {
  color: #f37121;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
}

h2 + p {
  font-weight: 900;
  color: #f37121;
  margin-top: 0;
  text-transform: uppercase;
}

strong {
  font-weight: 900;
  color: #fff;
}

.top-text {
  font-size: 0.625rem;
  color: #f37121;
  font-weight: 900;
  text-transform: uppercase;
  order: -1;
  border-top: 5px solid #f56207;
  margin: 0;
  padding-top: 1em;
  border-image: linear-gradient(to left, #f56207,#fdb487) 1;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

strong {
  font-weight: 900;
}
/* INTRO SECTION */
.intro {
  background-image: url('../img/pizza-3.jpg'), linear-gradient(45deg, #fcf7f4, #fa741a); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   background-blend-mode: multiply; 
  padding: 0 .5em 2em;
  /* opacity: 4; */
  /* background-color: #404040; */
   
}


/* Main Section */

.main-section {
  padding: 2em 1em;
}

/* .intro > *,
.main-section > * {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
} */

.container {
  max-width: 400px;
  margin: 0 auto;
  
}

.container-intro {
  display: flex;
  flex-direction: column; 
 justify-content: space-between;
 min-height: 50vh;
}
/* Form */
.email-collector {
  width: 100%;
  max-width: 425px;
}

input,
.btn {
  width: 100%;
  border-radius: 5px;
}

input {
  margin-bottom: 0.75em;
  font-family: inherit;
  text-align: inherit;
  padding: .25em;
  border: 1px solid #404040;
  transform: scale(1);
}

input:focus {
  transform: scale(1.1);
  transition: transform 250ms;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.625rem;
  padding: 1em 1.5em;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(to left,#fc8d48, #f56207);
  color: #fff;
 transform: scale(1);
 transition: transform 250ms;
}

.btn-primary:hover {
  color: #404040;
  transform: scale(1.2);

}
/* Media quieries */

@media (min-width: 525px) {
  body {
    font-size: 1.125rem;
     display: flex;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75em;
  }
  
   .intro,
  .main-section {
    width: 50%; 
     min-height: 100vh; 
  } 

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-intro {
    height: 100%;
  }
}

 
 
