  body {
   padding: 0; 
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Source-sans' sans-serif;
  text-align: center;
  color: #404040;
}

/* Typography */

 h1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 2em;
} 

h1 + p {
  color: #f37121;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
}

h2 + p {
  font-weight: 900;
  color: #f37121;
  margin-top: 0;
}

strong {
  font-weight: 900;
  color: #fff;
}

.top-text {
  font-size: 0.625rem;
  color: #f37121;
  font-weight: 900;
  text-transform: uppercase;
  order: -1;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}
/* INTRO SECTION */
.intro {
  background-image: url(../img/pizza-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #404040;
  display: flex;
  flex-direction: column;
  padding: 0 .5em 2em;
}

/* Main Section */

.main-section {
  padding: 2em 0;
}


/* Media quieries */

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  h2 + p {
    font-size: 1.75em;
  }
}

 
 
